#include "windows.h"

chest RCDATA "..\\..\\data\\chest.png"
tiles RCDATA "..\\..\\data\\tilemap.png"
player RCDATA "..\\..\\data\\player.png"
enemy RCDATA "..\\..\\data\\enemy.png"
dice RCDATA "..\\..\\data\\dice.png"
attack RCDATA "..\\..\\data\\attack.png"
font RCDATA "..\\..\\data\\ComicNeue-Regular.ttf"