#include "windows.h"

texture_chest RCDATA "..\\..\\data\\chest.png"
texture_tiles RCDATA "..\\..\\data\\tilemap.png"
player_spritesheet RCDATA "..\\..\\data\\player.png"
enemy_spritesheet RCDATA "..\\..\\data\\enemy.png"
texture_dice RCDATA "..\\..\\data\\dice.png"
texture_attacks RCDATA "..\\..\\data\\attack.png"
font RCDATA "..\\..\\data\\ComicNeue-Regular.ttf"